<div class="padding-bottom-100">
  <section>
    <div class="container col-md-8 col-lg-6 p-0 ">
      <div id="top-img" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag('/jisyuu-top1.png', style: 'width: 100%;object-fit: contain;') %>
          </div>
          <div class="carousel-item">
            <%= link_to "https://www.tokyoselfstudy.com/blogs/620" do %>
            <%= image_tag('/jisyuu-top2.png?20210918', style: 'width: 100%;object-fit: contain;') %>
            <% end %>
          </div>
          <div class="carousel-item">
            <%= link_to "https://www.tokyoselfstudy.com/blogs/20" do %>
            <%= image_tag('/jisyuu-top3.png', style: 'width: 100%;object-fit: contain;') %>
            <% end %>
          </div>
          <div class="carousel-item">
            <%= link_to "https://www.tokyoselfstudy.com/blogs/248" do %>
            <%= image_tag('/jisyuu-top4.png', style: 'width: 100%;object-fit: contain;') %>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#top-img" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#top-img" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container col-md-8 col-lg-6">
      <div class="">
        <h1 style="font-size: 24px;" class="mt-4 mb-4 font-weight-bold"><span><i class="fas fa-flag icon-color mr-2"></i></span>開催イベント一覧</h1>
        <%= render partial: 'events/event_box', collection: @events, as: 'event' %>
        <%= link_to 'イベント一覧を見る', events_path, class: 'to_index-btn text-center mx-auto' %>
      </div>
    </div>
  </section>
  <section>
    <div class="container col-md-8 col-lg-6">
      <div class="">
        <h2 style="font-size: 24px;" class="mt-4 mb-4 font-weight-bold"><span><i class="fas fa-list-alt icon-color mr-2"></i></span>みんなのブログ</h2>
        <%= render partial: 'learn_records/learn_record', collection: @learn_records, as: 'learn_record' %>
      </div>
      <%# link_to 'みんなのブログ一覧を見る', learn_records_path, class: 'to_index-btn text-center mx-auto' %>
    </div>
  </section>
  <section>
    <div class="container col-md-8 col-lg-6">
      <div class="">
        <h2 style="font-size: 24px;" class="mt-4 mb-4 font-weight-bold"><span><i class="fas fa-list-alt icon-color mr-2"></i></span>オフィシャルブログ</h2>
        <%= render partial: 'blogs/blog', collection: @blogs, as: 'blog' %>
      </div>
      <%= link_to 'ブログ一覧を見る', blogs_path, class: 'to_index-btn text-center mx-auto' %>
    </div>
  </section>
</div>

