<div class="container padding-bottom-100">
  <div class="pt-5">
    <h1 class="text-center learn-title"><%= @learn_record.title%></h1>
    <p class="text-center m-0" style="color: #666666;">カテゴリー：<%= @learn_record.study_category.name %></p>
    <p class="text-center" style="color: #666666;">作成日：<%= datetime_disp(@learn_record.created_at) %></p>
      <% if @learn_record.thumbnail.attached? %>
        <%= image_tag(@learn_record.thumbnail.variant(resize: "1000x300"), class: 'w-100 event-img text-center mb-2') %>
      <% else %>
        <%= image_tag(@learn_record.user.avatar.variant(resize: "1000x300"), class: 'w-100 event-img text-center mb-2') %>
      <% end %>    <div class="">
      <%= @learn_record.content%>
    </div>
  </div>
</div>
