<div class="container padding-bottom-100">
  <div class="pt-5">
    <h1 class="text-center learn-title"><%= @learn_record.title%></h1>
    <p class="text-center m-0" style="color: #666666;">カテゴリー：<%= @learn_record.study_category.name %></p>
    <p class="text-center" style="color: #666666;">作成日：<%= datetime_disp(@learn_record.created_at) %></p>
    <% if @learn_record.thumbnail.attached? %>
      <%= image_tag(@learn_record.thumbnail.variant(resize: "1000x300"), class: 'w-100 event-img text-center mb-2') %>
    <% else %>
      <%= image_tag(@learn_record.user.avatar.variant(resize: "1000x300"), class: 'w-100 event-img text-center mb-2') %>
    <% end %>
    <div class="d-flex mt-2 justify-content-around">
      <div class="d-flex ml-2">
        <%= image_tag(@learn_record.user.avatar.variant(resize: "100x100"), class: 'rounded-circle user-circle-image') if @learn_record.user.avatar.attached? %>
        <div class="ml-3">
          <p class="mb-0">作成者</p>
          <a href="/users/<%= @learn_record.user.id %>" class="font-weight-bold"><%= @learn_record.user.display_priority_nickname %></a>
        </div>
      </div>
      <div class="twitter ml-2 d-flex align-items-center">
        <a href="//twitter.com/share" class="twitter-share-button" data-text="[東京自習会 - みんなのブログ]<%= @learn_record.title %>" data-url="https://www.tokyoselfstudy.com/learn_records/<%= @learn_record.id %>" data-lang="ja" data-hashtags="東京自習会,tokyoselfstudy">
          Tweet
        </a>
      </div>
    </div>
    <div class="mt-3">
      <%= @learn_record.content%>
    </div>
  </div>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>