<div class="main mt-5">
  <div class="container col-lg-5 col-md-5">
    <div class="profile-block border-bottom">
      <h1><%=  %></h1>
      <%= image_tag(@user.avatar.variant(resize: "100x100"), class: 'rounded') if @user.avatar.attached? %>
      <p class="mt-4 mb-0 font-weight-bold">氏名: <%= @user.view_full_name %></p>
      <p class="font-weight-bold">学習している事: <%= @user.studying %></p>
      <p style="word-wrap: break-word;"><%= @user.introduction.present? ? @user.introduction : 'プロフィール文未設定' %></p>
    </div>
  </div>
</div>
