  <div class="container col-md-8 col-lg-6 room" style="min-height: 100%;background:#e1ebf3;padding-bottom: 66px;" data-room-id="<%= params[:id] %>">
    <% @messages.each do |message| %>
      <div class="line-bc m-0 message-body" data-message-id="<%= message.id %>">
        <% unless is_same_user?(current_user.id, message&.sender&.id) %>
        <div class="balloon6">
          <div class="faceicon">
            <%= image_tag(message.sender.avatar.variant(resize: "100x100"), class: 'user-circle-image rounded-circle') if message&.sender.present? && message.sender.avatar.attached? %>
          </div>
        <p class="message-username"><%= message&.sender&.nickname.present? ? message&.sender&.nickname : message&.sender&.view_full_name %></p>
          <div class="chatting">
            <div class="says col-10 mr-auto">
              <p><%= text_url_to_link(hbr(message.body)).html_safe %></p>
            </div>
          </div>
        </div>
        <% else %>
        <div class="col-10 ml-auto mycomment">
          <p><%= text_url_to_link(hbr(message.body)).html_safe %></p>
        </div>
          <p class="mb-0 read-status-string <%= "message#{message.id}-status"%>"></p>
        <% end %>
      </div>
    <% end %>
  </div>