<div class="main mt-5">
  <div class="container col-lg-5 col-md-5">
    <div class="signup-form">
    <h2 class="devise-title">パスワード再設定</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field mb-4">
        <%= f.label :email %><span style="font-size:10px;" class="ml-2 badge badge-danger">必須</span><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "送信", class: 'sign-up-btn btn-block mt-3' %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>

    </div>
  </div>
</div>
