<!DOCTYPE html>
<html>
  <head>
    <title>社会人勉強コミュニティ・サークル｜東京自習会【公式】</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta property="og:image" content="<%= @meta_image.present? ? @meta_image : "https://www.tokyoselfstudy.com/jisyuu-top.jpg" %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@tokyoselfstudy" />
    <meta property="og:url" content="<%= @meta_url.present? ? @meta_url : 'https://www.tokyoselfstudy.com/' %>" />
    <meta property="og:title" content="<%= @meta_title.present? ? @meta_title : '【東京自習会】学びを加速する「自習」をみんなで行うコミュニティ' %>" />
    <meta property="og:description" content="<%= @meta_description.present? ? @meta_description : '資格勉強する社会人の勉強コミュニティ・サークル「東京自習会」公式サイト。様々な職業の人が集まって資格やスキルアップ、副業、読書といった自習をしています。ここでは自習会の活動内容や開催情報などをお届けします。' %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag '/favicon.ico' %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render partial: 'shared/google_analytics' %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <%= render partial: 'shared/flash' %>
    <%= yield %>
    <%= render partial: 'shared/tabbar' %>
  </body>
</html>
