<div class="main mt-5 padding-bottom-100">
  <div class="container col-lg-5 col-md-5">
    <div class="signup-form">

    <h2 class="text-center mb-3">ユーザー情報編集</h2>

    <div class="alert alert-danger p-3">
      <p class="mb-0">管理人以外には情報は公開されません。</p>
      <p class="mb-0">また、必須項目全ての記載がないとイベントに申し込む事はできません。<br/>安心・安全なコミュニティ運営にご理解とご協力をお願いします。</p>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="row">
        <div class="col-6">
          <div class="field mb-3">
            <%= f.label :family_name, '姓' %><span style="font-size:10px;" class="ml-2 badge badge-danger">必須</span><br />
            <%= f.text_field :family_name, autofocus: true, class: 'form-control' %>
          </div>
        </div>
        <div class="col-6">
          <div class="field mb-3">
            <%= f.label :first_name, '名' %><span style="font-size:10px;" class="ml-2 badge badge-danger">必須</span><br />
            <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="field mb-4">
            <%= f.label :family_name_kana, 'セイ' %><span style="font-size:10px;" class="ml-2 badge badge-danger">必須</span><br />
            <%= f.text_field :family_name_kana, autofocus: true, class: 'form-control' %>
          </div>
        </div>
        <div class="col-6">
          <div class="field mb-4">
            <%= f.label :first_name_kana, 'メイ' %><span style="font-size:10px;" class="ml-2 badge badge-danger">必須</span><br />
            <%= f.text_field :first_name_kana, autofocus: true, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="field mb-4">
        <%= f.label :nickname, 'ニックネーム' %><span style="font-size:10px;" class="ml-2 badge badge-success">設定がある場合優先表示されます</span><br />
        <%= f.text_field :nickname, autofocus: true, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :gender, '性別', {class: 'form-label'} %><span style="font-size:10px;" class="ml-2 badge badge-danger">必須</span>
      </div>
      <div class="row">
        <div class="col-sm-12 btn-group mb-4" data-toggle="buttons">
          <label class="btn btn-outline-secondary <%= gender_active_controll(current_user.gender, "male") %>" style="width:50%">
            <%= f.radio_button :gender, 'male', {} %> 男性
          </label>
          <label class="btn btn-outline-secondary <%= gender_active_controll(current_user.gender, "female") %>" style="width:50%">
            <%= f.radio_button :gender, 'female', {} %> 女性
          </label>
        </div>
      </div>

      <div class="field">
        <%= f.label :birthdate, '生年月日' %><span style="font-size:10px;" class="ml-2 badge badge-danger">必須</span>
      </div>
      <div class="birth_date_field mb-4 ">
        <%= f.date_select :birthdate, {
          use_month_numbers: true,
          start_year: 1930,
          end_year: (Time.zone.now.year - 15),
          date_separator: ' / ',
        },
        { class: 'form-control', style: 'width: 30%; display: inline-block;'}
      %>
      </div>
      
      <div class="field mb-4">
        <%= f.label :email %><span style="font-size:10px;" class="ml-2 badge badge-danger">必須</span><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>メールアドレスの確認を行なってください！: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field mb-4">
        <%= f.label :avatar, 'プロフィール写真' %><span style="font-size:10px;" class="ml-2 badge badge-danger">必須</span><br />
        <% if @user.avatar.attached? %>
          <div class="filefield">
            <%= image_tag(@user.avatar.variant(resize: "150x150"), class: 'w-100 event-img text-center mb-2') %>
          </div>
        <% else %>
          <div class="filefield">
            
          </div>
        <% end %>
        <%= f.file_field :avatar, class: 'p-3 upfile', style: 'border: solid 1px lightgray;width:100%;border-radius:5px;' %>
      </div>

      <div class=" mb-4 form-group">
        <%= f.label :pref_id, '居住地' %><span style="font-size:10px;" class="ml-2 badge badge-danger">必須</span><br />
        <%= f.collection_select(:pref_id, CountriesPref.all, :id, :name, { selected: current_user.pref_id.present? ? current_user.pref_id : '13' }, class: 'form-control') %>
      </div>

      <div class=" mb-4 form-group">
        <%= f.label :users_category_id, '職業' %><span style="font-size:10px;" class="ml-2 badge badge-danger">必須</span><br />
        <%= f.collection_select(:users_category_id, UsersCategory.all, :id, :name, { selected: current_user.users_category_id.present? ? current_user.users_category_id : '' }, class: 'form-control') %>
      </div>

      <div class=" mb-4 form-group">
        <%= f.label :users_job_category_id, '職種' %><span style="font-size:10px;" class="ml-2 badge badge-danger">必須</span><br />
        <%= f.collection_select(:users_job_category_id, UsersJobCategory.all, :id, :name, {}, class: 'form-control', selected: current_user.users_job_category_id.present? ? current_user.users_job_category_id : '') %>
      </div>

      <div class="field mb-4">
        <%= f.label :studying, '学習する事' %><span style="font-size:10px;" class="ml-2 badge badge-danger">必須</span><br />
        <%= f.text_field :studying, autofocus: true, class: 'form-control' %>
      </div>

      <div class="field mb-4">
        <%= f.label :introduction, '自己紹介' %><span style="font-size:10px;" class="ml-2 badge badge-danger">必須</span><br />
        <%= f.text_area :introduction, autofocus: true, class: 'form-control', rows: 8 %>
      </div>

      <div class="field mb-4">
        <%= f.label :twitter do %>
          <i class="fab fa-twitter" aria-hidden="true"></i>
          Twitterアカウント
        <% end %><br />
        https://twitter.com/
        <%= f.text_field :twitter, autofocus: true, class: 'form-control', style: 'width: 35%; display: inline-block;' %>
      </div>

      <div class="field mb-4">
        <%= f.label :instagram do %>
          <i class="fab fa-instagram" aria-hidden="true"></i>
          Instagramアカウント
        <% end %><br />
        https://instagram.com/
        <%= f.text_field :instagram, autofocus: true, class: 'form-control', style: 'width: 35%; display: inline-block;'  %>
      </div>

      <div class="actions">
        <%= f.submit "更新する", class: 'sign-up-btn btn-block mt-3' %>
      </div>
    <% end %>

    </div>
  </div>
</div>

<%
=begin
%>
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
<%
=end
%>

<style>
 input[type="radio"] {
  display:none; 
}
</style>

<script>
    $('.upfile').on('click', function(){
      $fileField = $('.upfile')
      // 選択された画像を取得し表示
      $($fileField).on('change', $fileField, function(e) {
        file = e.target.files[0]
        reader = new FileReader(),
        $preview = $(".filefield");
        reader.onload = (function(file) {
          return function(e) {
            $preview.empty();
            $preview.append($('<img>').attr({
              src: e.target.result,
              width: "100%",
              title: file.name,
              class: 'w-100 event-img text-center mb-2'
            }));
          };
        })(file);
        reader.readAsDataURL(file);
    })
  });
</script>
